body {
    padding: 50px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: ivory;
    background-color: darkgreen;
  }

#headers {
    font-size: 24px;
    font-weight: 700;
}